body {
    
}

h1 {
    text-align: center;
}

#banner {
    width: 100%;
}

.principal {
    background: brown;
}

p {
    text-align: center;
}

#objetivo {
    font-size: 20px;
}

em strong {
    color: orange;
}

.itens {
    font-style: italic;
}

.benefícios {
    background: red;
}

h2 {
    text-align: center;
}

.imagembeneficios {
    width: 100%;
}