body {
    
}

.titulo-principal {
    padding-left: 20px;
    background: yellow;
    padding: 30px;
}

#banner {
    width: 100%;
}

.titulo-centralizado {
    text-align: center;
}

.principal {
    background: orange;
    padding: 30px;
    display: inline-block;
}

p {
    text-align: center;
}

#objetivo {
    font-size: 20px;
}

em strong {
    color: blue;
}

.itens {
    font-style: italic;
}

.benefícios {
    background: red;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}