body {
    
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

.principal {
    background: brown;
    padding: 30px;
}

p {
    text-align: center;
}

#objetivo {
    font-size: 20px;
}

em strong {
    color: orange;
}

.itens {
    font-style: italic;
}

.benefícios {
    background: red;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}